* {
  margin: 0;
  padding: 0;
  border: 0;
}




body {
    width: 100%;
    height: 100%;
    color: black;
    background-color: grey;
}


  
h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    color: black;
    background-color: white;
    border: 5px solid;
    border-color: rgb(238, 204, 11);
    border-radius: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 100px;
    
}

#h1Inicio {
  margin-top: 10px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    font-weight: bold;
    
}


h2 {
    text-align: center;
    font-family: 'VT323', monospace;
}

#myForm {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: large;
  font-weight:bold;
}

#submit {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #212529;
  background: #212529;
  margin: 10px;
}

#submit:hover {
  background: #fff;
  color: #212529
}

#imagen1 {
  width: 200px;
  height: 200px;
  margin: 10px;
}

#imagen2 {
  width: 200px;
  height: 200px;
  margin: 10px;
}

#imagen3 {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.imagenes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }

  .column {
    flex: 1;
    padding: 10px;
  }

  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }


  .container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
    position: fixed;
    width: 100%;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .imagenBarra {
    width: 50px;
    height: 50px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
  }
  
  
  .brand {
    display: flex;
    align-items:center;
  }
  
  
  li>a {
    padding: 8px 24px;
    margin: 10px;
  }
  
  nav a:hover {
    color: red;
}
  
  li {
    list-style-type: none;
    
  }
  
  
  a {
    color: white;
    text-decoration:none;
  }
  
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }

  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
   
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
  }

  .reproductor {
    text-align: center;
  }

  footer {
    
    height: 200px;
    background-color: black;
    color: white;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 92px;
    
  }

  #footerID {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
  }

  #botonAlerta {
    min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 2px solid #212529;
  background: #212529;
  margin: 10px;
  }

  #botonAlerta:hover {
    background: #fff;
    color: #212529
  }

  .servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
    font-weight: bolder;
    
  }

  .greeting {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    font-weight: bolder;
  }
  
  